.container {
  display: flex;
  position: relative;
  font-weight: 700;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cherryDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  background-color: var(--pink);
  margin-top: 3rem;
  padding: 1rem;
  border-radius: 2rem;
  font-size: 0.8rem;
  color: var(--themeRed);
  font-weight: bold;
}

.heroText {
  display: flex;
  flex-direction: column;
}

.miniText {
  width: 70%;
  color: var(--gray);
}

.btn {
  padding: 1rem 2.5rem;
}

.imageContainer {
  width: 48rem;
  /* position: absolute; */
  top: -5rem;
}

.contactUs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  padding: 1rem;
  border-radius: 5rem;
  top: 6rem;
  gap: 1rem;
  background-color: #fff;
  box-shadow: var(--shadow);
  color: var(--themeRed);
}

.contactUs > div {
  background-color: rgb(59, 208, 59);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactUs:hover,
.Pizza:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.Pizza {
  display: flex;
  gap: 1rem;
  background-color: #fff;
  box-shadow: var(--shadow);
  padding: 0.5rem;
  border-radius: 0.5rem;
  bottom: 9rem;
  left: 29rem;
  width: max-content;
}

.Pizza > :nth-child(1) {
  width: 6rem;
  height: 4rem;
  overflow: hidden;
  border-radius: 0.5rem;
}

.Pizza > :nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: bold;
}
